1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [3]:
with open('test.txt', 'r') as file:
    test2 = file.read()
print(test2)

This is a test of the emergency text system

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [2]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)

    for row in data:
        writer.writerow(row)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')


conn.execute('''CREATE TABLE books
             (title TEXT,
              author TEXT,
              year INTEGER);''')

conn.commit()
conn.close()

5. Read books.csv and insert its data into the book table.

In [5]:
import csv
import sqlite3


conn = sqlite3.connect('books.db')

with open('books.csv', 'r') as file:
    reader = csv.reader(file)

  
    next(reader)

   
    for row in reader:
        conn.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", row)


conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [6]:
import sqlite3


conn = sqlite3.connect('books.db')


result = conn.execute("SELECT title FROM books ORDER BY title ASC")


for row in result:
    print(row[0])


conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [7]:
import sqlite3


conn = sqlite3.connect('books.db')


result = conn.execute("SELECT * FROM books ORDER BY year ASC")
print("Title, Author, Year")

for row in result:
    print(row[0] + ", " + row[1] + ", " + str(row[2]))
conn.close()

Title, Author, Year
The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [8]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

result = engine.execute('SELECT * FROM books')

for row in result:
    print(row)

result.close()
engine.dispose()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [ ]:
import redis

r = redis.Redis(host='localhost', port=6379, db=0)

r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

print(r.hgetall('test'))

10. Increment the count field of test and print it.

In [ ]:
import redis


r = redis.Redis(host='localhost', port=6379, db=0)

r.hincrby('test', 'count', amount=1)

print(r.hget('test', 'count'))